.rowbkgd{
background-color: 999999;
}

.hdtxt{
Color: #ffffff;
font-size: 25px;
Font-family: cursive;
}

.logotxt{
  Color: #3d4044;
  font-size: 50px;

}

.hddntxt{
  Color: White;
}

.headertxt{
  Color: #559ce8;
  font-size: 25px;

}

.navheader{
  Color: #f44283;
}

.topleft{
  position:absolute;
  left:0;
  top:10;


}
